* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-image: url('images/fzdblur.png');
  background-size: cover; 
  background-attachment: fixed;        /* Make image cover the whole screen */
  background-repeat: repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}
h1 {
  color: #ffffff;
  font-family : 'Segoe UI', sans-serif;
}
h2 {
  color: #ffffff;
  font-family : 'Segoe UI', sans-serif;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

#search-input {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border: 2px solid #ccc;
  border-radius: 0.25rem;
  flex-grow: 1;
}

#search-input:focus {
  outline: none;
  border-color: #90caf9;
}

button[type="submit"] {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: #0074d9;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0063ad;
}

#search-results {
  margin-bottom: 2rem;
}

.result-item {
  margin-bottom: 1rem;
}

.result-title {
  color:#90caf9;
  font-size: 1.5rem;
  margin-top: 0;
}

.result-link {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #040404;
}

.result-link:hover {
  text-decoration: underline;
}

.result-snippet {
  margin-top: 0;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 10rem;
}


/* Dark theme */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-color: #090909;
}

#theme-toggler {
  border: none;
  background: transparent;
  cursor: pointer;
  background: #e2e2e2;
  padding: 10px 20px;
  border-radius: 100px;
}

.dark-theme {
  background-image: url('images/wikidark.png');
  background-attachment: fixed;
  color: #fff;
}

.dark-theme #search-input {
  background-color: #454545;
  color: #fff;
  border-color: #080808;
}

.dark-theme #search-input:focus {
  border-color: #90caf9;
}

.dark-theme button[type="submit"] {
  background-color: #0074d9;
}

.dark-theme .result-link,
.dark-theme .result-link:hover {
  color: #90caf9;
}

.navbar {
  background-color: #111; 
  color: white;
  width: 100%;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav-container {
  font-family: 'Segoe UI',sans-serif;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.2s ease-in-out;
}

.nav-links li a:hover {
  color: #90caf9;
}


.dark-theme .navbar {
  background-color: #222;
}

.dark-theme .nav-links li a:hover {
  color: #00bfff;
}
